<div class="flex h-[80vh] flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600"
            alt="Your Company">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in <em *ngIf="isAdmin" class="bg-violet-500 text-white p-2 text-sm rounded-md">As Admin</em> to access services</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form [formGroup]="loginForm" class="space-y-6">
            <div>
                <label for="phone" class="block text-sm/6 font-medium text-gray-900">Phone</label>
                <div class="mt-2">
                    <input type="phone" name="phone" id="phone" placeholder="9999999999" autocomplete="phone" formControlName="phone"
                        class="inline-block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />

                    <div *ngIf="formControls['phone'].touched && formControls['phone'].invalid" class="rounded-md mt-1 p-2 bg-red-300 font-thin text-sm">
                        <div *ngIf="formControls['phone'].errors && formControls['phone'].errors['required']">Mobile Number is required.
                        </div>
                        <div *ngIf="formControls['phone'].errors && formControls['phone'].errors['pattern']">Please, Enter 10 digit Mobile
                            Number.</div>
                    </div>
                </div>
                <span *ngIf="!isVerified" class="flex my-2" [ngClass]="otpVerify ? 'justify-between' : 'justify-end'">
                    <input *ngIf="otpVerify" type="text" name="otp" id="otp" placeholder="OTP" required
                        class="inline-block rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    <button class="flex w-1/2 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-indigo-300"
                    (click)="onVerify()" [disabled]="loading || (formControls['phone'].touched && formControls['phone'].invalid)">
                        {{otpVerify ? "Send OTP" : "Verify"}}
                    </button>
                </span>
            </div>

            <div *ngIf="isAdmin">
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                        <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input type="password" name="password" id="password" autocomplete="current-password" formControlName="password"
                            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>

                <div class="mt-2">
                    <button type="submit" (click)="onLogin()"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                        in</button>
                </div>
            </div>
        </form>
    </div>
</div>