<div class="p-2 mt-4">
    <div class="flex">
        <span class="flex-1 bottom-0">Table for list of Account Details</span>
        <p-button class="right-0" icon="pi pi-plus" [rounded]="true" size="small" label="New Account" severity="success" (click)="onNewAccount()"></p-button>
    </div>
    <div class="block m-2 h-[70vh] overflow-y-scroll">
        <p-table [columns]="cols" [value]="accounts" [tableStyle]="{ 'min-width': '50rem' }" [size]="'small'" [scrollable]="true" 
        scrollHeight="70%"  class="size-40">
            <ng-template #header let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <ng-container [ngSwitch]="col.field">
                            <span *ngSwitchCase="'status'">
                                <p-tag [value]="rowData[col.field]"
                                    [severity]="rowData[col.field] === 'active' ? 'success' : 'danger'" />
                            </span>
                            <span *ngSwitchCase="'address'">
                                {{rowData[col.field][col.subfield]}}
                            </span>
                            <span *ngSwitchCase="'actions'">
                                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                                    (click)="editAccount(rowData)" />
                            </span>
                            <span *ngSwitchDefault>
                                {{rowData[col.field] }}
                            </span>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>