<div class="p-2 mt-4 block">
    <!-- tabs: accounts, users -->
    <p-tabs [value]="currentTab" [style]="{'width': '100%'}" [scrollable]="true" 
            (valueChange)="changeTab($event)">
        <p-tablist>
            <p-tab [value]="0">Accounts</p-tab>
            <p-tab [value]="1">Users</p-tab>
        </p-tablist>
        <p-tabpanels class="h-[70vh] overflow-y-scroll">
            <p-tabpanel [value]="0">
                <app-accounts-container></app-accounts-container>
            </p-tabpanel>
            <p-tabpanel [value]="1">
                <app-users-container></app-users-container>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>